.table-container {
  overflow-x: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  width: 100%;
  color: #8f9bb2;
  font-weight: 700;
  border-collapse: collapse;
}

.table-head {
  background-color: #fafafa;
  text-align: inherit;
  text-transform: capitalize;
}

.table-head th {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.table-head th:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

.table-message {
  display: flex;
  color: #333;
  padding: 2rem 1rem;
  text-transform: capitalize;
}

.table-row {
  color: #676d7e;
  background-color: #fff;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.table-row td {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #f7f7f7;
}

.table-row td:first-child {
  padding-left: 20px;
  padding-right: 20px;
}
